@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Story+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left {
    position: fixed;
    top: 0;
    width: 30vw;
    height: 100vh;
    text-align: center;
    background-color: #1F2024;

    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.lwelcome {
    font-family: "Story Script", sans-serif;
}

.left h1,p {
    color: white;
}

.text_left {
    padding: 30px;
}

.nav_left_session ul {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_left_session li a{
    font-size: 1.8rem;
    list-style: none;
    font-family: "Story Script", sans-serif;
    color: white;
}

.nav_left_icon a {
    font-size: 1.2rem;
    color: white;
    padding: 5px;
}




.right {
    min-height: 100vh;
    margin-left: 30vw;
}

header {
    background-color: #4B4952;
}

.upp {
    height: 100px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(38, 57, 224, 0.644);
    font-family: "Story Script", sans-serif;

    animation: upp 2s infinite alternate;
}

main {
    background-color: #4B4952;
    color: white;
}

@keyframes upp {
    from { background-color: rgba(78, 71, 71, 0.445)}
    to {background-color: rgba(20, 22, 20, 0.562)}
}

.text a {
    text-decoration: none;
}

.inicial {
    min-height: 100vh;
    padding: 2rem;
    text-align: center;
    background-image: url('logo.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.inicial h2 {
    font-weight: 300px;
    font-size: 30px;
}

#nameA {
    color: #6bf559ef;
    font-family: "Story Script", sans-serif;
    font-weight: 500;
    animation: rainbow 3s linear infinite;
    font-size: 70px;
}

@keyframes rainbow {
    100% {
        filter: hue-rotate(360deg);
    }
}

.about {
    height: 500px;
    width: 600px;
    margin: auto;
}

#text-about {
    font-size: 1.3em;
}

.text_about {
    position: relative;
    height: 200px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}

.big-text {
    position: absolute;
    font-size: 100px;
    font-weight: 800;
    color: rgba(105, 102, 102, 0.281);
    letter-spacing: 7px;
    user-select: none;
    white-space: nowrap;
}

.front-text {
    position: relative;
    font-size: 3em;
    font-weight: 600;
    color: white;
    z-index: 1;
}

.about h3 {
    font-size: 3em;
    padding-bottom: 10px;
}

.skills {
    height: 700px;
    width: 600px;
    margin: auto;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 25px;
}

.skill-card {
  border: 2px solid #000;
  border-radius: 12px 12px;
  height: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

footer {
    text-align: center;
    background-color: #4B4952;
    color: white;
    padding: 20px;
}